<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>channelName</key>
		<string>头条</string>
		<key>ControllName</key>
		<string>ZMDiscoveryTableVC</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>社会</string>
		<key>ControllName</key>
		<string>ViewController</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>军事</string>
		<key>ControllName</key>
		<string>ZMProfileTableC</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>娱乐</string>
		<key>ControllName</key>
		<string>ZMDiscoveryTableVC</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>影视</string>
		<key>ControllName</key>
		<string>ViewController</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>彩票</string>
		<key>ControllName</key>
		<string>ZMProfileTableC</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>跑步</string>
		<key>ControllName</key>
		<string>ZMDiscoveryTableVC</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>轻松一刻</string>
		<key>ControllName</key>
		<string>ViewController</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>葡萄酒</string>
		<key>ControllName</key>
		<string>ZMProfileTableC</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>政务</string>
		<key>ControllName</key>
		<string>ZMDiscoveryTableVC</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>云课堂</string>
		<key>ControllName</key>
		<string>ViewController</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>购物</string>
		<key>ControllName</key>
		<string>ZMProfileTableC</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>论坛</string>
		<key>ControllName</key>
		<string>ZMDiscoveryTableVC</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>原创</string>
		<key>ControllName</key>
		<string>ViewController</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>值得买</string>
		<key>ControllName</key>
		<string>ZMProfileTableC</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>历史</string>
		<key>ControllName</key>
		<string>ZMDiscoveryTableVC</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>诡异案件</string>
		<key>ControllName</key>
		<string>ViewController</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>暴雪游戏</string>
		<key>ControllName</key>
		<string>ZMProfileTableC</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>下雨天</string>
		<key>ControllName</key>
		<string>ZMDiscoveryTableVC</string>
	</dict>
	<dict>
		<key>channelName</key>
		<string>西藏</string>
		<key>ControllName</key>
		<string>ViewController</string>
	</dict>
</array>
</plist>
